body {
  text-align: center;
  background-image: url(dinner.jpg);
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  background-size: 100%;
  font-family: "レゲエ One"
}

#title {
  font-size: 60px;
}

#add-dinner {
  font-size: 20px;
  font-family: "レゲエ One";
  color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: dodgerblue;
  border: solid;
  border-color: deepskyblue;
  border-radius: 10px;
}

#decide-dinner {
  font-size: 25px;
  font-family: "レゲエ One";
  color: whitesmoke;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: deeppink;
  border: solid;
  border-color: darkred;
  border-radius: 10px;
}

#dinner {
  font-size: 20px;
  font-family: "レゲエ One";
  padding-top: 7px;
  padding-bottom: 7px;
  border: solid;
  border-color: deepskyblue;
  border-radius: 10px;
}

#decided-dinner-area {
  font-size: 35px;
  color: darkblue;
}

#kouho {
  font-size: 30px;
}

p{
  font-size: 20px;
  font-weight: bold;
}
